<div class="container">
  <div style="text-align: center;">
      <img style="height: 350px;" src="assets/images/ethereum-icon.png" class="img-fluid" alt="Responsive image">
  </div>
  <div class="row align-items-center">
    <div class="col">
      <div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Doc address</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [formControl]="docAddress" placeholder="Enter Doc address">
            <div class="invalid-feedback" style="display: block;" *ngIf="!docAddress.valid">{{ docAddress.errors.message | json }}</div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Verifier address</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [formControl]="verifierAddress" placeholder="Enter Verifier address">
            <div class="invalid-feedback" style="display: block;" *ngIf="!verifierAddress.valid">{{ verifierAddress.errors.message | json }}</div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Document Proof</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="documentProof" placeholder="Enter Document proof">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-9 offset-sm-3">
            <button class="btn btn-primary" (click)="generateSig()" [disabled]="!docAddress.valid || !verifierAddress.valid || !documentProof">Generate Sig</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="docAddress.valid && verifierAddress.valid && documentProof && generatedString">
    <div class="row" style="padding-top: 25px;">
      <div class="col-sm-9 offset-sm-3">
        <textarea id="generatedString" class="form-control" readonly style="resize: none;" rows="4" [(ngModel)]="generatedString"></textarea>
      </div>
    </div>
    <div class="row" style="padding-top: 15px;">
      <div class="col-sm-9 offset-sm-3">
        <button class="btn btn-primary" (click)="copyToClipboard()">Copy to clipboard</button>
      </div>
    </div>
  </div>
</div>